
.Container {
    max-width: 300px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 10px;
    border-radius: 5px;
    background-color: #828181;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .Container h2 {
    color: #d4d4d4;
    text-align: center;
    margin-bottom: 15px;
  }
  

  
  .Container input[type='text'],
  .Container input[type='email'],
  .Container input[type='number'],
  .Container input[type='password'] {
    width: calc(100% - 20px); 
   

  }

  

  
  .Container button:hover {
    background-color: #cbcbcb;
  }
  